<<<<<<< HEAD
@import "vars.scss";
=======
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
$font_classy: 'Playfair Display', serif;
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
$font_title: 'Quattrocento Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
$font_basic: 'Alegreya Sans', sans-serif;

// COLORS
$grey: #34495e;
$blue: #3498db;
$lightblue: #03A9F4;
$white: #ecf0f1;
$orange: #FF8A65;


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    color: black;
    scroll-behavior: smooth;
}
>>>>>>> refs/remotes/origin/master

header {
    width: 90%;
    height: auto;
    padding: 15px 5%;
    position: fixed;
    top: 0;
    left: 0;
    background: transparentize($blue, 0.2);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    border-bottom: 2px solid $orange;

    h1 {
        font-family: $font_title;
        font-size: 2rem;
        color: $white;
    }

    nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        a {
            padding: 3px 30px;
            font-family: $font_basic;
            font-size: 1.2rem;
            color: white;
            position: relative;

            &:not(:last-child) {
                border-right: 1px solid $white;
            }

            &::after {
                position: absolute;
                content: "";
                width: 0;
                height: 1px;
                background: $white;
                top: 100%;
                left: 50%;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }

            &:hover::after {
                left: 15%;
                width: 70%;
            }
        }
    }
}

main {
    width: 100%;
    height: auto;

    .screen {
        width: 90%;
        height: 90vh;
        padding: 5vh 5%;
    }

    #home {
        background: url(https://images.unsplash.com/photo-1494888427482-242d32babc0b?ixlib=rb-0.3.5&s=5f5dfbf026bc9b788361b7ee96929398&auto=format&fit=crop&w=1650&q=80) center center no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        z-index: -20;

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            // background: rgba(0, 0, 0, 0.2);
            background: transparentize($grey, 0.8);
            z-index: -19;
        }

        p {
            margin-top: 15vh;
            font-family: $font_classy;
            font-size: 5rem;
            color: white;
            filter: drop-shadow(0px 0px 10px $grey);
            z-index: -18;
            position: fixed;
        }
    }

    #about {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-end;
        background: white;
        box-shadow: 0px 0px 15px black;

        .about {
            width: 45%;
            height: 80vh;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: center;

            p {
                width: 100%;
                font-family: $font_basic;
                font-size: 1.2rem;

                &:first-child {
                    text-align: center;
                    font-family: $font_title;
                    font-size: 1.5rem;
                    color: $blue;

                    i {
                        color: $orange;

                        &.fa-check-circle {
                            transform: translateY(-25px);
                        }
                    }
                }
            }
        }
    }

    #contact {
        position: relative;
        z-index: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            background: linear-gradient(rgba(255, 255, 255, 0.9), $white);
            z-index: -2;
        }

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            background: url(https://media.buzzle.com/media/images-en/photos/finance/1200-15344078-stock-market-data-chart.jpg) center center no-repeat;
            background-size: cover;
            background-attachment: fixed;
            z-index: -9;
        }

        form {
            width: 50%;
            height: auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;

            * {
                width: 100%;
                font-family: $font_title;
            }

            h1 {
                font-size: 2rem;
                text-align: center;
                color: $blue;
            }

            label, input[type=submit] {
                margin-top: 10px;
            }

            input:not([type=submit]) {
                border: none;
                background: none;
                border-bottom: 2px solid $grey;
                font-family: $font_basic;
                color: black;
                text-align: center;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:focus {
                    outline: none;
                    border-bottom: 2px solid $blue;
                }
            }

            textarea {
                resize: none;
                height: 20vh;
                border: none;
                background: none;
                border-bottom: 2px solid $grey;
                font-family: $font_basic;
                color: black;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:focus {
                    outline: none;
                    border-bottom: 2px solid $blue;
                }
            }

            input[type=submit] {
                background: none;
                padding: 5px 0;
                margin-top: 20px;
                border: 2px solid $grey;
                font-weight: bold;
                color: $grey;
                cursor: pointer;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background: $white;
                    border: 2px solid $blue;
                    color: $blue;
                }
            }
        }
    }
}

<<<<<<< HEAD
#footer {
=======
footer {
>>>>>>> refs/remotes/origin/master
    width: 90%;
    height: auto;
    padding: 15px 5%;
    background: $grey;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid $orange;

    * {
        color: white;
        font-family: $font_basic;
    }

    nav {
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        border-bottom: 1px solid $white;

        a {
            padding: 0 10px;

            &:not(:last-child) {
                border-right: 1px solid white;
            }
        }
    }

    form {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        input {
            margin: 0 10px;
            padding: 2px 4px;
            background: none;
            border: none;
            border-bottom: 1px solid $blue;

            &:focus {
                outline: none;
            }

            &[type=submit] {
                border: 1px solid $blue;
                cursor: pointer;
                padding: 2px 15px;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background: $blue;
                }
            }
        }
    }
}