@import "../../../assets/style/vars.scss";

#header {
    width: 90%;
    height: 40px;
    padding: 0 5%;
    background: $blue;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;

    nav {
        width: 100%;
        height: 100%;

        ul {
            width: 100%;
            height: 100%;
            list-style-type: none;
            display: flex;
            flex-flow: row nowrap;

            li {
                flex-grow: 1;
                height: 100%;
                position: relative;

                &:not(:last-child) {
                    border-right: 2px solid white;
                }

                &:hover {

                    .submenu {
                        display: flex;
                    }
                }

                > a:hover {
                    background: $orange;
                    color: $grey;
                }

                a {
                    display: block;
                    height: 100%;
                    line-height: 40px;
                    text-align: center;
                    color: white;
                    @include trs(0.1s);
                }

                .submenu {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: auto;
                    background: $blue;
                    border-top: 1px solid white;
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    z-index: 999;
                    box-shadow: 0px 1px 5px $grey;

                    li {
                        width: 100%;
                        border: none;

                        &:not(:last-child) {
                            border-bottom: 1px solid white;
                        }
                    }
                }
            }
        }
    }
}

#main {
    width: 95%;
    padding: 40px 2.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    #actions {
        width: calc(100% - 30px);
        padding: 5px 15px;
        margin-bottom: 20px;
        background: $blue;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        nav {
            width: 100%;
            height: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            a {
                position: relative;
                color: white;
                padding: 5px 15px;
                margin: 5px 10px;
                border-radius: 3px;
                @include trs(0.2s);

                &:not(:last-child)::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 100%;
                    top: 0;
                    left: calc(100% + 10px);
                    background: white;
                }

                &.selected {
                    background: white;
                    color: $blue;
                }

                &:hover {
                    background: $orange;
                }
            }
        }

        form {
            width: 100%;
            height: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            input[type=text] {
                flex-grow: 1;
                padding: 2px 5px;
                border: none;
            }

            input[type=submit] {
                padding: 2px 10px;
                margin-left: 15px;
                background: transparent;
                border: 2px solid white;
                color: white;
                cursor: pointer;
                @include trs(0.2s);

                &:hover {
                    background: white;
                    color: $blue;
                }
            }
        }
    }

    #response {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;

        p {
            text-align: center;
            padding: 10px;
            border-width: 2px;
            border-style: solid;
            border-radius: 7px;

            &.infos {
                background: white;
                color: $blue;
                border-color: $blue;
            }

            &.success {
                background: lightgreen;
                color: forestgreen;
                border-color: forestgreen;
            }

            &.error {
                background: tomato;
                color: brown;
                border-color: brown;
            }
        }
    }

    h2 {
        width: 100%;
        font-size: 1.4rem;
    }
}