@import "../../../assets/style/vars.scss";

#response {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 9999;
    display: flex;
    flex-flow: column nowrap;

    p {
        max-width: 25vw;
        text-align: center;
        padding: 5px 10px;
        margin-top: 5px;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        box-sizing: border-box;

        &.info {
            background: lightblue;
            color: $blue;
            border-bottom-color: $blue;
        }

        &.success {
            background: lightgreen;
            color: forestgreen;
            border-bottom-color: forestgreen;
        }

        &.error {
            background: tomato;
            color: brown;
            border-bottom-color: brown;
        }

        i:last-child {
            width: 100%;
            text-align: right;
            cursor: pointer;
            font-size: 0.8rem;
        }
    }
}

#investment {
    width: 100%;
    height: calc(100vh - 40px);
    display: flex;
    flex-flow: row nowrap;
    background: $grey;

    * {
        color: lightgrey;

        &:not(i) {
            font-family: $font_title;
        }
    }


    p.delta_up {
        color: lightgreen;
    }

    p.delta_down {
        color: tomato;
    }

    .actions {
        width: 100%;
        padding: 5px 15px;
        box-sizing: border-box;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        background: rgba(0, 0, 0, 0.2);

        h3 {
            font-size: 1.2rem;
        }

        button {
            background: none;
            border: none;
            cursor: pointer;

            i {
                color: $blue;
                font-size: 1.4rem;
                @include trs(0.1s);
            }

            &:hover i {
                color: lightgrey;
            }

            &:focus {
                outline: none;
            }
        }

        select {
            min-width: 20%;
            background: rgba(255, 255, 255, 0.25);

            &:focus {
                outline: none;
            }

            optgroup {
                background: $grey;
                color: darkgrey;
            }

            option {
                background: lighten($grey, 10);
                color: lightgrey;

                &:checked, &:hover {
                    background: lightgrey;
                    color: lighten($grey, 10);
                }
            }
        }
    }

    #data {
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-flow: row wrap;

        #chart {
            width: 100%;
            height: 50%;
            border-bottom: 1px solid lightgrey;
            box-sizing: border-box;
            display: flex;
            flex-flow: column nowrap;

            #techan_js {
                width: 100%;
                flex-grow: 1;
            }
        }

        #infos {
            width: 65%;
            height: 50%;
            border-right: 1px solid lightgrey;
            box-sizing: border-box;
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            align-content: flex-start;

            #balance {
                width: 100%;
                height: auto;
                margin: 10px;
                box-sizing: border-box;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid lightgrey;
                font-size: 1.2rem;

                span {
                    font-size: 1.2rem;
                    padding: 4px 8px;
                    border-radius: 2px;
                    background: rgba(255, 255, 255, 0.1);
                }
            }

            #roi, #global {
                width: 50%;
                height: auto;
                padding: 10px;
                box-sizing: border-box;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                align-items: flex-start;

                h3 {
                    width: 100%;
                    font-size: 1.2rem;
                }

                p {
                    width: 50%;
                    margin-top: 4px;

                    &:nth-of-type(even) {
                        text-align: right;
                    }
                }
            }

            #global {
                border-left: 1px solid lightgrey;
            }
        }

        #alerts {
            flex-grow: 1;
            height: 50%;
            display: flex;
            flex-flow: column nowrap;

            #alert_list {
                width: 100%;
                flex-grow: 1;
            }
        }
    }

    #history {
        width: 30%;
        min-width: 400px;
        height: 100%;
        border-left: 1px solid lightgrey;
        display: flex;
        flex-flow: column nowrap;

        #tx_list, #alerts_list {
            flex-grow: 1;
            overflow-y: scroll;
            padding: 0 10px;
            box-sizing: border-box;

            .tx, .alerts {
                width: 100%;
                height: auto;
                margin: 10px 0;
                padding: 3px;
                box-sizing: border-box;
                border-radius: 3px;
                background: rgba(255, 255, 255, 0.1);
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;

                i {
                    color: $blue;
                }

                &.buy i {
                    color: lightgreen;
                }

                &.sell i {
                    color: tomato;
                }

                > p {
                    width: 100%;
                    padding: 5px;
                    border-bottom: 1px solid lightgrey;
                }

                .tx_part, .alerts_part {
                    width: 27.5%;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 7.5px;

                    h4 {
                        font-size: 0.9rem;
                    }

                    p {
                        font-size: 0.8rem;
                    }
                }

                h6 {
                    width: 100%;
                    margin-top: 2px;
                    padding-top: 2px;
                    border-top: 1px solid grey;
                    text-align: center;
                    font-size: 0.8rem;
                    font-weight: lighter;
                }
            }
        }
    }
}

// FORM: NEW TX
#form_tx, #form_alerts {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &.hidden {
        display: none;
    }
}